<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/plot.css">
    <title>Result Predict</title>
</head>
<body>
    <center>
        <h1 class="hhh">Plotting Sky Coordinates</h1>
        <div class="plot">
            <img src="data:image/png;base64,{{ plot_data }}" alt="Plot">
        </div>
        <h3 class="hh"> Predict is {{ data }} </h3>
    </center>
    
</body>
</html>